/* You can add global styles to this file, and also import other style files */
body{
    position: relative;
    background-color: gainsboro;
}

.float-right{
    float: right
}

.mb5{
    margin-bottom: 5px;
}